[data-dropdown] {
  position: relative;
}
#header .menu-left ul .nav-item .nav-subitem,
#header .menu-right ul .nav-item .nav-subitem {
  display: none;
}
#header .menu-left ul .nav-item:hover .nav-subitem,
#header .menu-right ul .nav-item:hover .nav-subitem {
  display: block;
  animation: show-down 0.3s;
}
@keyframes show-down {
  from {
    opacity: 0;
    transform: translate3d(0, -20px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

#header .menu-left ul .nav-item #subitens-sobre-o-original {
  position: absolute;
  top: 75px;
  background-color: rgba(29, 29, 29, 0.6);
  padding: 0px 20px 20px 20px;
  width: 300px;
  z-index: 200;
  border-radius: 0 0 5px 5px;
}
#header .menu-left ul .nav-item #subitens-para-empresa {
  position: absolute;
  top: 75px;
  background-color: rgba(29, 29, 29, 0.6);
  padding: 0px 20px 20px 20px;
  width: 300px;
  z-index: 200;
  border-radius: 0 0 5px 5px;
}
#header .menu-right ul .nav-item #subitens-acessar-conta {
  position: absolute;
  top: 47px;
  left: -25px;
  background-color: #00793e;
  padding: 10px;
  width: 200px;
  z-index: 200;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}
#header .menu-right ul .nav-item #subitens-acessar-conta::before {
  content: "";
  display: block;
  position: absolute;
  top: -9px;
  left: 120px;
  width: 0px;
  height: 0px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #00793e;
}

#header .menu-left ul .nav-item #subitens-para-empresa span {
  font-weight: 300;
  font-size: 10px;
}
