#main-intro-home {
  display: block;
}

#main-intro-home #section-01 {
  background-color: rgba(0, 0, 0, 0.904);
  position: relative;
  overflow: hidden;
  height: 100vh;
  max-width: 100vw;
}

#main-intro-home #section-01 .bg-img-01 {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  background-image: url(../img/main-banner-01.jpg);
}
.js #main-intro-home #section-01 .bg-img-01 {
  display: none;
}
.js #main-intro-home #section-01 .bg-img-01.active {
  opacity: 1;
  display: block;
  animation: show-opacity 1s forwards;
}
.js #main-intro-home #section-01 .bg-img-02 {
  display: none;
}
.js #main-intro-home #section-01 .bg-img-02.active {
  display: block;
  animation: show-opacity 1s forwards;
}
.js #main-intro-home #section-01 .bg-img-02 {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  background-image: url(../img/main-banner-02.jpg);
}
.js #main-intro-home #section-01 .bg-img-03 {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  background-image: url(../img/para-voce-menu.jpg);
}
.js #main-intro-home #section-01 .bg-img-03 {
  display: none;
}
.js #main-intro-home #section-01 .bg-img-03.active {
  display: block;
  animation: show-opacity 1s forwards;
}
#main-intro-home #section-01 .main-banner.bg-img-03 .banner-text .white-space {
  grid-column: 2;
}
#main-intro-home #section-01 .main-banner.bg-img-03 .banner-text .content {
  grid-column: 1;
  justify-self: end;
  text-align: right;
  margin-top: 150px;
}

@keyframes show-opacity {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}

#main-intro-home #section-01 .banner-text {
  display: grid;
  grid-template-columns: 1fr 1fr minmax(100px, 200px);
  justify-content: center;
  align-items: center;
  color: white;
  padding-top: 120px;
}
#main-intro-home #section-01 .banner-text .white-space {
  grid-column: 1;
}
#main-intro-home #section-01 .banner-text .content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: left;
  grid-column: 2;
  font-family: "Montserrat", sans-serif;
  max-width: 48ch;
  margin-top: 100px;
}
#main-intro-home #section-01 .banner-text .content h1 {
  font-size: 42px;
  font-weight: 600;
  line-height: 1.125;
}
#main-intro-home #section-01 .banner-text .content p {
  line-height: 1.5;
  font-size: 18px;
  font-weight: 400;
}
.js #main-intro-home #section-01 .nav-circles {
  position: absolute;
  top: 350px;
  right: 60px;
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 50%;
  gap: 15px;
}
.js #main-intro-home #section-01 .nav-circles .item-circle {
  flex-flow: row nowrap;
  align-items: center;
  height: 38px;
  width: 38px;
  padding: 15px;
  background-color: #fff;
  background-clip: content-box;
  border-radius: 50%;
  border: 2px solid transparent;
  cursor: pointer;
  transition: 0.2s ease-out;
}
.js #main-intro-home #section-01 .nav-circles .item-circle.active {
  color: #00A857;
  border-color: #00A857;
  background-color: #fff;
}

#main-intro-home #section-01 .banner-text .content #btn-01 {
  display: block;
  padding: 12px 18px;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  background-color: #00A857;
  text-align: center;
  width: 120px;
  margin-top: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  transition: 0.3s;
}
#main-intro-home #section-01 .banner-text .content #btn-01:hover {
  background-color: #00793e;
}
#main-intro-home #section-01 .banner-text .content #btn-01.btn-abrir-conta {
  width: auto;
}
